@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
#app {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }
  .nav-link{
    color: white
  }
  #pills-tab .nav-link.active {
    background-color: #0d273b !important;
  }

  .container {
    margin: 0 auto;
  }
.home{
  background: #02192b;
}
 a,.card-title a{
    transform: scale(1);
    text-decoration: none;
    transition: all .4s ease !important;
    font-weight: 300 ;
    font-size: 20px;
    color: white
  }
  nav a:hover,.card-title a:hover{
    color: #0d6efd !important;
    transform: scale(1.5);

  }
  .reference h2{
    text-align: justify;
  }
  .card-group{
    row-gap: 10px;
    min-height:100vh;
    padding-top: 40px;
  }
  .card-group > div{
    display: flex;
    justify-content: space-evenly;
  }
 .card{
  max-width:400px;
  margin-bottom: 10px;
  padding: 0;
  border:none;
  color:whitesmoke;
 }
 .card-body{
   background:black;
 }
 .card-img-top{
  max-height: 300px;
  min-height: 300px;
  max-width: 400px;
 }

#pills-tab{
  place-content: center;
}
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tab-pane {
  width: 100%;
}
.tab-pane > div {
  justify-content: space-between;
}
#masthead{
  background:#0000004d;;
}