@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
#app {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
  }
  #nav {
    padding: 30px;
    background-image: url('../img/file.gif');
    background-repeat: no-repeat;
    background-size: cover;

  }
  #nav a {
    color: white;
  }

  .container {
    margin: 0 auto;
  }

  .logo{
    background-image: url('../img/diamond-hard.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100px;
    min-width: 100px;
    max-width: 150px;
  }
  .logo ~ button{
    /* background-color: dimgray; */
  }
  
 a,.card-title a{
    transform: scale(1);
    text-decoration: none;
    transition: all .4s ease !important;
    font-weight: 300 ;
    font-size: 20px;
  }
  nav a:hover,.card-title a:hover{
    color: #4e2edf !important;
    transform: scale(1.5);

  }
  .reference h2{
    text-align: justify;
  }
  .card-group{
    row-gap: 10px;
  }
  .card-group > div{
    display: flex;
    justify-content: space-evenly;
  }
 .card{
  max-width:400px;
  margin-bottom: 10px;
  padding: 0;
  border:none;
  color:whitesmoke;
 }
 .card-body{
   background:black;
 }
 .card-img-top{
  max-height: 300px;
  min-height: 300px;
  max-width: 400px;
 }


 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.rings{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}